{% extends "layout.html" %}
{% block content %}
<h1>About</h1>
<p>Fencers unit is a service that allows competition creators to set up a competition easily and customise the format of it.
It will also enable fencers to sign up, veiw and access all the competitions available before the event. Furthermore, In real time, 
fencers and parents alike will be able to veiw the live running of the competition.</p>
<p>With this tool, I hope that many people will be able to enjoy fencing competions in a more intuitive and informative way.</p>
<p>From The creator,</p>
<p>Connor</p>
{% endblock content%}